<launch>
    <arg name="map_file" default="$(find hover_planning)/data/map.yaml"/>
    <node name="map" pkg="map_server" type="map_server" args="$(arg map_file)"/>
    <node name="transform" pkg="hover_planning" type="generate_robot_tf.py" output="screen"/>
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="map_laser" args="1 0 0 0 0 0 1 map laser" /> -->
</launch>